/* Footer */

.footer {
    background-color: #29323C;
    padding: 4rem 0 2rem 0;
}

.footer-list {
    display: flex;
    justify-content: center;
}

.footer-link {
    font-size: 2rem;
    color: #fff;
    margin: 0 2rem;
    background-color: #29323C;
    padding: 0.3rem 3rem;
    letter-spacing: 0.3rem;
    transition: all 0.2s;
    text-decoration: none;
}

.footer-link:hover {
    transform: rotate(-10deg);
    box-shadow: 0 2rem 3rem #fcc330;
}

.footer-paragraph {
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    letter-spacing: 0.2rem;
    margin-top: 5rem;
}


/* End of Footer */

/* Keyframes */

@keyframes hamburger_puls {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: teal;
        font-weight: 500;
    }
}


/* End Keyframes */


/* Media Query For Tablet */

@media only screen and (min-width: 768px) {
    .cta {
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title {
        font-size: 6rem;
    }
    h1.projects-title {
        font-size: 6rem;
    }
    /* Hero */
    #hero h1 {
        font-size: 5rem;
    }
    /* End Hero */
    /* About */
    #about .about {
        flex-direction: row;
    }
    #about .col-left {
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }
    #about .about .col-left .about-img::after {
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid teal;
    }
    #about .col-right {
        text-align: left;
        padding: 30px;
    }
    #about .col-right h1 {
        text-align: left;
    }
    /* End About */
}


/* End Media Query For Tablet */


/* Media Query For Desktop */

@media only screen and (min-width: 1200px) {
    /* header */
    #header .hamburger {
        display: none;
    }
    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li {
        display: inline-block;
    }
    #header .nav-list ul li a {
        font-size: 1.8rem;
    }
    #header .nav-list ul a:after {
        display: none;
    }
    /* End header */
}


/* End  Media Query For Desktop */

@media (max-width: 1000px) {
    .footer-link {
        padding: 0.3rem 2rem;
        margin: 0 1rem;
    }
}

@media (max-width: 800px) {
    .contact-form {
        width: 90%;
    }
    .footer-list {
        flex-direction: column;
        align-items: center;
    }
    .footer-link {
        margin: 1rem 0;
    }
}

@media (max-width: 650px) {
    .container {
        margin: 0;
    }
    .contact-heading {
        font-size: 4rem;
    }
    .contact-form {
        padding: 2rem;
        height: 40rem;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 45%;
    }
    #hero h1 {
        font-size: 3rem;
    }
    .main h3 {
        font-size: 25px;
    }
    #about .col-right p {
        font-size: 1.5rem;
    }
    html {
        font-size: 12px;
    }
    .alert {
        font-size: 25px;
        margin-bottom: 5px;
        background: #fcc330;
        color: #000;
        margin-top: 30px;
        display: none;
    }
}
